body{
  margin:0;
  background-color: rgb(110,110,110);
}

#mycanvas{
  border: 0 !important;
}

b {
  font-weight: bold;
}

.rating {
  color: orange;
}

.norating {
  color: rgb(200,200,200);
}

.footer {
  background-color: rgb(90, 90, 90);
  padding:0.01em 15px;
  color: rgb(25, 25, 25);
  text-align:center;
}

.info_box {
  background-color: rgb(175, 175, 175);
  border-radius: 10px;
  margin: auto;
  width:50%;
  min-width: 600px;
  padding: 0.01em 15px;
  font-family: Helvetica;
  font-weight: normal;
  color: white;
  text-align: center;
}

.latest_update {
  background-color: rgb(125,125,125);
  margin: auto;
  max-width: 100vw;
  color: white;
  font-family: Helvetica;
  padding: 0.01em 15px;
  font-weight: normal;
  text-align: center;
}

.creation_box {
  margin: auto;
  max-width: 100vw;
  color: white;
  font-family: Sans Serif;
  padding: 0.01em 15px;
  font-weight: normal;
  text-align: center;
}

.black-underlined a {
  color: black;
  text-decoration: underline;
  text-align: center;
}

.header {
  background-color:rgb(0, 0, 0);
  color:#ffffff;
  width: 100%;
  height: 50vh;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 600%;
}

#homeHeader {
  background-image: url("/img/dark-background.jpg");
  background-size: cover;
}

#gamesHeader {
  background-image: url("/img/red-electric-background.jpg");
  background-size: cover;
}

#graphicsHeader {
  background-image: url("/img/dark-theme-cool-green-background.jpeg");
  background-size: cover;
}

.home_icon {
  height: 100%;
  display: table;
  float: left;
  text-align: left;
  vertical-align: middle;
}

.navbar {
  overflow: hidden;
  background-color: rgb(50, 50, 50);
}

/* Style the navigation bar links */
.navbar a {
  transition-duration: 0.4s;
}

.navbar a.right {
  float: right;
  display: block;
  color: snow;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
}

/* Left-aligned link */
.navbar a.left {
  float: left;
  display: block;
  color: snow;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  opacity: 1;
  transition: opacity 1s;
  transition-duration: 0.5s;
}

.navbar a.right:hover {
  background-color: GhostWhite;
  color:gray;
  opacity: 1;
}

.navbar a.left:hover {
  opacity: 0.7;
}

.button {
  position: relative;
  background-color: transparent;
  border: 3px solid #FFFFFF;
  font-size: 30px;
  color: #D5B92D;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  opacity:1;
}

.nbutton {
  position: relative;
  background-color: transparent;
  border: 3px solid #D5B92D;
  font-size: 30px;
  color: #D5B92D;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  opacity:1;
}

.nbutton:hover {
  background-color:#D5B92D;
  border: 3px solid white;
  color:#FFFFFF;
}

.button:hover {
  background-color:#3D85C6;
  border: 3px solid blue;
  color:#FFFFFF;
}